
// Colors

$navbar-background-color:#27262A;
$navbar-text-color: #8d81ac;
$btn-background: #8d81ac;
$dropdown-background: #333;
$background-pricing-box:#5f5161;

// Fonts

$main-font-1:'Montserrat', sans-serif;
$main-font-2:'Lato', sans-serif;


// Divices width

$mobile-min-screen:"320px";
$tablet-min-screen:"768px";
$desctop-min-screen:"1200px";